<!-- Add you custom twig html here -->

<div id="Courses">
    <h2>
        {{items.course_title }}
    </h2>

    <div class="course-row">
        {% for item in items %}
            {% for course in item %}
                <span class="name"> <a href="{{course.course_link }}">{{course.course_name}}</a></span>
                <span class="title">{{course.course_title}}</span>
                <span class="descr">{{course.course_desc}}</span>
                {% if(course.course_instructor) %}
                    <span class="instructor-header">Instructor(s): </span>
                    <span class="instructor">{{course.course_instructor}}</span>
                {% endif %}
                {% if(course.course_classes) %}
                    <div id="course-classes">
                        <span class="class-header">Schedule</span>
                        {% for class in course.course_classes %}
                            <div class="class-entry">
                                <span class="section">{{class.section}} </span>
                                <span class="days">{{class.days}}</span>
                                <span class="start-time">{{ class.start_time }} </span>
                                <span class="time-seperator"> - </span></span>
                                <span class = 'end-time'>{{class.end_time}}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

    </div>
</div>